.create-text {
    font-weight: 900;
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: gray;
    text-align: center;

    margin-top: 40px;
    margin-bottom: 25px;
}

.create-button{
    height: 34px;;
    display: block;
    margin: 0 auto;
}

.create-popup{
        position: absolute;
        top: 200px;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        background: #f0f0f0;
        width: 400px;
        padding: 25px;
        transition: 0.5s all;
        border-radius: 4px;
}

.create-popup.active{
    transform: translate(-50%, -50%) scale(1);
    transition: 0.5s all;
    box-shadow: 3px 5px 0px 0.6px rgb(42, 72, 94); 
}

.create-input{
    width: 396px;
    height: 25px;
}
.create-button-menu{
    margin-top: 10px;
    width:250px;
    height: 35px;
}

.create-buttons{
    display: flex;
}