.popup-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
}


.popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 400px;
    padding: 25px;
    transition: 0.5s all;
    border-radius: 4px;
}
.popup.active{
    transform: translate(-50%, -50%) scale(1);
    transition: 0.5s all;
    box-shadow: 3px 5px 0px 0.6px rgb(42, 72, 94); 
}

.popup-info{
    width: 400px;
    height: 65px;

    font-weight: 900;
    text-transform: uppercase;
}

.close{
    position: absolute;
    top: 10px;
    right: 17px;
    cursor: pointer;
}
.disable{
    display: none;
}
