.change-color{
    width: 130px;
    height: 50px;
}
.button-chanhe{
    width: 92px;
    height: 40px;
    
    margin-right: 20px;
    border-radius: 30px;
    background-color: rgb(252, 252, 252);
    box-shadow: 3px 4px 0px 0px rgb(42, 72, 94); 
}

.circle{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-top: 5px;
    background-color: rgb(112, 112, 112);
    border-radius: 100px;
    transform: translateX(0px);
    transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.circle.active{
    transform: translateX(40px);
     background-color: rgb(252, 255, 52);
     transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
}


.change-color.none{
    display: none;
}